/* light blue : #61D8FF;
orange: #ff8861 */

body {
  background-image: url('../images/food.jpg');
  background-repeat: repeat;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: black;
}

h1 {
  display: inline-block;
  font-size: 4em;
  color: rgb(255, 136, 97);
  text-transform: uppercase;
  text-shadow: -5px 5px rgb(255, 255, 255);
  background-color: rgba(255,255,255,0.65);
  padding: 30px;
}

h2 {
  font-size: 2em;
  text-transform: uppercase;
}

span {
  font-size: 2.5em;
}

.game {
  text-align: center;
  background: white;
}

.start-page {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 800px;
  height: 600px;
  text-align: center;
  background: rgb(216,216,216);
}



.game-over{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 800px;
  height: 600px;
  text-align: center;
  background: rgb(216,216,216);
}

/*
.slowfade {
  animation: fade 0.5s ease-out;
} */

@keyframes fade {
  0% {
    display: block;
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

img {
  width: 100%;
}

.btn {
  background-color: rgb(132,132,132);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 30%;
  color: #000;
  align-self: center;
  padding: 20px 70px;
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
  opacity: .5;
  transition: opacity 1s linear;
}

.btn:hover {
  opacity: 1;
}


/* .start-again-btn {

} */



.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.layout{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.side-style {
  background:  rgba(255, 136, 97,0.95);
  width: 20%;
}

/* .points {
  background:  rgba(255, 136, 97);
  width: 20%;
} */

